<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="trial"/>

<!--	<bean id="chinese" class="test1.Chinese"
		p:axe-ref="stoneAxe">
	</bean>
	
	<bean id="chinese2" class="test1.Chinese">
		<constructor-arg ref="stoneAxe"></constructor-arg>
	</bean>
	
	<bean id="stoneAxe" class="test1.StoneAxe"></bean>  -->

</beans>